

body {

    background: linear-gradient(to right, #8f94fb, #4e54c8), linear-gradient(to right, #240b36, #c31432);
    background-blend-mode: lighten;
    animation: backani 1s linear infinite;

}




.keyboard {
    background: url('./Images/purple_gradient.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 9px 49px 134px 120px;
    margin-left: 430px;
    margin-top: 40px;
    width: 1090px;
    height: 340px;

}

button {
    font-size: 20px;
    background: url('./Images/hs_background.jpg');
    border-radius: 10px 40px 124px 129px;
    background-repeat: no-repeat;
    background-size: cover;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Aoboshi One', serif;
    margin: 4px;
    width: 70px;
    padding: 40px, 40px;
    box-shadow: 0 2px 4px rgba(18, 132, 214, 0.4);
    color: white;
    border-radius: 20px 440px 24px 129px;
    border: 1px solid rgb(0, 122, 162);


}

button:hover {
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform: translateY(4px);
}

button:focus {
    background: #f12711;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

button:active {
    background: #7F7FD5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#space {
    border-radius: 10px 40px 124px 129px;
    background: url('./Images/tenco.jpg');
    color: white;
    width: 290px;
    height: 40px;
    margin-left: 140px;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Aoboshi One', serif;
    text-align: center;

    
    border-radius: 10px 40px 124px 129px;


}


#backspace {
    
    color: white;
    font-family: 'Aoboshi One', serif;
    font-size: 20px;
    text-align: center;
    margin-left: 440px;
    position: relative;
    top: -40px;
    width: 220px;
    height: 40px; 
    font-family: 'Noto Sans', sans-serif;
    padding: 10;
    border-radius: 10px 40px 124px 129px;
    background: url('./Images/tenco.jpg');
}


.header {
    font-family: 'Aoboshi One', serif;
    font-size: 60px;
    color: white;

    width: 900px;
    height: 40px;

    background: #FC466B;

    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);

    background: linear-gradient(to right, #3F5EFB, #FC466B);

    animation-name: boxani;

    animation-duration: 5s;

    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;

    animation-fill-mode: none;

}




#space:hover {
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#space:focus {
    background: #f12711;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#space:active {
    background: #7F7FD5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



#backspace:hover {
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#backspace:focus {
    background: #f12711;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#backspace:active {
    background: #7F7FD5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}




#userinput {
    background: black;
    width: 440px;
    height: 90px;
    font-size: 15px;
    border-radius: 10px;
    font-family: 'Geologica', sans-serif;
    margin-left: 680px;
    margin-top: 40px;
    color: white;
}

@keyframes backani {
    0% {
        background-position: 40px 45px;
    }

    50% {
        background-position: 90px 40px;
    }

    100% {
        background-position: 490px 20px;
    }
}






@keyframes boxani {
    from {
        opacity: 2;
        background: transparent;
    }

    to {
        opacity: 1;
        background: transparent;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header {
            font-family: 'Aoboshi One', serif;
            font-size: 40px;
            color: white;
    
            width: 900px;
            height: 40px;
    
            background: #FC466B;
    
            background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    
            background: linear-gradient(to right, #3F5EFB, #FC466B);
    
            animation-name: boxani;
    
            animation-duration: 5s;
    
            animation-timing-function: ease-in;
            animation-delay: 0s;
            animation-iteration-count: infinite;
    
            animation-fill-mode: none;
    
        }

        


        .keyboard {
            background: url('./Images/purple_gradient.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            border-radius: 9px 49px 134px 120px;
            margin-left: -10px;
            margin-top: 40px;
            width: 390px;
            height: 740px;

        }

        
        #space {
            border-radius: 10px 40px 124px 129px;
            background: url('./Images/tenco.jpg');
            color: white;
            width: 120px;
            height: 40px;
            margin-left: 10px;
            font-size: 20px;
            border-radius: 5px;
            font-family: 'Aoboshi One', serif;
            text-align: center;

            
            border-radius: 10px 40px 124px 129px;


        }

        
        #backspace {
            
            color: white;
            font-family: 'Aoboshi One', serif;
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            margin-left: 140px;
            position: relative;
            top: -40px;
            width: 120px;
            height: 40px; 
            font-family: 'Noto Sans', sans-serif;
            padding: 10;
            border-radius: 10px 40px 124px 129px;
            background: url('./Images/tenco.jpg');
        }

    

        #userinput {
            background: black;
            width: 340px;
            height: 90px;
            font-size: 15px;
            border-radius: 10px;
            font-family: 'Geologica', sans-serif;
            margin-left: -10px;
            margin-top: 40px;
            color: white;
        }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .header {
            font-family: 'Aoboshi One', serif;
            font-size: 40px;
            color: white;
    
            width: 900px;
            height: 40px;
    
            background: #FC466B;
    
            background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    
            background: linear-gradient(to right, #3F5EFB, #FC466B);
    
            animation-name: boxani;
    
            animation-duration: 5s;
    
            animation-timing-function: ease-in;
            animation-delay: 0s;
            animation-iteration-count: infinite;
    
            animation-fill-mode: none;
    
        }
    
    
    
    
        .keyboard {
            background: url('./Images/purple_gradient.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            border-radius: 9px 49px 134px 120px;
            margin-left: -10px;
            margin-top: 40px;
            width: 990px;
            height: 340px;
    
        }
    
    
        #space {
            border-radius: 10px 40px 124px 129px;
            background: url('./Images/tenco.jpg');
            color: white;
            width: 290px;
            height: 40px;
            margin-left:210px;
            font-size: 20px;
            border-radius: 5px;
            font-family: 'Aoboshi One', serif;
            text-align: center;
    
    
            border-radius: 10px 40px 124px 129px;
    
    
        }
    
    
        #backspace {
    
            color: white;
            font-family: 'Aoboshi One', serif;
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            margin-left: 520px;
            position: relative;
            top: -40px;
            width: 290px;
            height: 40px;
            font-family: 'Noto Sans', sans-serif;
            padding: 10;
            border-radius: 10px 40px 124px 129px;
            background: url('./Images/tenco.jpg');
        }
    
    
    
        #userinput {
            background: black;
            width: 440px;
            height: 90px;
            font-size: 15px;
            border-radius: 10px;
            font-family: 'Geologica', sans-serif;
            margin-left: 310px;
            margin-top: 40px;
            color: white;
        }
}